/* header 开始 */
#header{
    height: 30px;
    background: #f2f2f2;
    line-height: 30px;
    
}
#header>span{
    padding-left: 100px;
    
}
.header-word{
    float: right;
    padding-right:150px
}
.header-list{
    height: 100px;
    background: #ccc;

}
.list-arrow{
    height: 100px;
    float:right;
    list-style: none;
    line-height:110px;
    padding-right:150px ;
    
}
.list-arrow li{
    float:left;
    padding: 0 20px;
}
.list-arrow a{
    text-decoration: none;
}
/*轮播图*/
.slide-box{
    height: 500px;
    background: #fcfcfc;
    border-top:2px solid #fff;
    position: relative;
}
.slide-box .wrapper{
    background: #fcfcfc;
    height: 500px;
    
    position: relative;
}
.menu-box{
    position: absolute;
    left:0px;
    width: 200px;
    background: rgba(0,0,0,0.8);
    height: 500px;
    color: #fff;
}
.menu-title{
    background: red;
    height: 46px;
    line-height: 46px;
}
.menu-title .icon-remen{
    margin: 0 60px 0 60px;
    
}
.main-list{
    height:50px;
    line-height: 50px;    
    border-bottom:0.5px solid #fff;
}
.main-list a{
    color: #fff;
}
.main-list span{
    margin: 0 50px 0 50px;
}
.img-box{
    height: 500px;
    overflow: hidden;
    
}
.img-box .selected{
    width: 1230px;
    height: 500px;
    display: block;
}
.img-box a{
    display: none;
    height: 500px;
}
.btn{
    position: absolute;
    right: 500px;
    bottom: 20px;
}
.btn li{
    height: 10px;
    width: 10px;
    border-radius:50%;
    background:rgba(0,0,0,0.7);
    float: left;
    text-align: center;
    margin-right: 20px;
    
}
.btn .active{
    background: orange;
}